{{> header}}
{{> navbar}}

<h1>{{heading}}</h1>
{{#if errors}}
  {{#each errors}}
    <div class="notification is-danger errmsg">
      {{msg}}
    </div>
  {{/each}}
{{/if}}
{{#if error}}
    <div class="notification is-danger errmsg">
      {{error}}
    </div>
{{/if}}
<div class="card">
  <div class="card-header">
    <h2>Sign up!</h2>
  </div>
  <div class="card-content">
    <form action="/signup" method="POST">
      <div class="field">
        <label class="label">Userame</label>
        <div class="control">
          <input class="input" type="text" placeholder="e.g Alex Smith" name="username">
        </div>
      </div>
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com" name="email">
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" placeholder="e.g. 123!4kj_1" name="password">
        </div>
      </div>
      <div class="field">
        <label class="label" type="password">Confirm Password</label>
        <div class="control">
          <input class="input" type="password" placeholder="e.g. 123!4kj_1" name="passwordConfirm">
        </div>
      </div>
      <div class="field is-grouped">
        <p class="control">
          <button class="button is-primary">Submit</button>
        </p>
        <p class="control">
          <a class="button is-light">
            Cancel
          </a>
        </p>
      </div>
    </form>
  </div>
</div>

<style>
  .card, .errmsg {
    max-width: 60%;
    margin: auto;
  }

  .card-header {
    background-color: #00d1b2;
    color: white;
  }

  input[type="text"],input[type="email"],input[type="password"] {
    border: 1px solid  #00d1b2;
  }
</style>
